@{
    //cr:mmisztal1980
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadPartial")
</head>
    <body>
        <div class="wrapper">
            @RenderBody()  
        </div>
        <footer>
            @Html.Partial("_FooterPartial")
        </footer>
    </body>
</html>